services:

  redis:
    image: redis:latest
    ports:
      - "6380:6379"

  django:
    build: .
    container_name: django_app
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./recipies:/app
    environment:
      - PYTHONPATH=/app
      - DJANGO_SETTINGS_MODULE=recipies.settings
    ports:
      - "8001:8000"
    env_file:
      - .env
    depends_on:
      - redis

  celery:
    build: .
    container_name: celery_worker
    command: celery -A recipies worker --loglevel=info
    volumes:
      - ./recipies:/app
    environment:
      - PYTHONPATH=/app
      - DJANGO_SETTINGS_MODULE=recipies.settings
    env_file:
      - .env
    depends_on:
      - django
      - redis

  celery_beat:
    build: .
    container_name: celery_beat
    command: sh -c "python manage.py migrate && celery -A recipies beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler"
    volumes:
      - ./recipies:/app
    environment:
      - PYTHONPATH=/app
      - DJANGO_SETTINGS_MODULE=recipies.settings
    env_file:
      - .env
    depends_on:
      - django
      - redis

  mailhog:
    image: mailhog/mailhog
    ports:
      - "8026:8025"   
      - "1026:1025"   

  minio:
    image: minio/minio
    container_name: minionew
    ports:
      - "9000:9000"   
      - "9001:9001"  
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin12345
    volumes:
      - ./minio_data:/data
    command: server /data --console-address ":9001"
    restart: always